version: 2.1

orbs:
  win: circleci/windows@2.2.0

jobs:
  build:
    executor:
      name: win/default
      shell: powershell.exe
    steps:
#       - checkout
      - run: git clone https://github.com/HennaAbbas/test_.git
      - run: git checkout -b test
 
